<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.RepMapper">
<select id="getRepByInvid" parameterType="int" resultType="Reply">
select * from reply_detail where invid=#{id} order by createdate desc
</select>
<insert id="addrep" parameterType="Reply">
	insert into reply_detail (invid,content,author,createdate) values (#{invid},#{content},#{author},now())
</insert>
</mapper>